<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>640248591872-49efc1gk0sgd6u4dkp43cj0o2bi6mgpi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.640248591872-49efc1gk0sgd6u4dkp43cj0o2bi6mgpi</string>
	<key>API_KEY</key>
	<string>AIzaSyAtVIogwtDpdeOnBaQNr6KkFsWgD9ylNlg</string>
	<key>GCM_SENDER_ID</key>
	<string>640248591872</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kuivila.Preesh2-0</string>
	<key>PROJECT_ID</key>
	<string>preesh2-9d5d8</string>
	<key>STORAGE_BUCKET</key>
	<string>preesh2-9d5d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:640248591872:ios:b03aaa9bad14159fb10ae5</string>
</dict>
</plist>